In [1]:
import pandas as pd

In [2]:
# FUNCTION DEFINITION: function to create DataFrameMatrix with define row_name and col_name 
def matrix_maker_function(dataframe,row_name,col_name,value_name):
    df = dataframe.filter([row_name,col_name,value_name], axis=1)
    matrix_df = pd.pivot_table(df,index=[row_name],values=[value_name],columns=[col_name], aggfunc='sum')             
    matrix_df = pd.DataFrame(matrix_df.to_records())                                
    matrix_df.columns = [hdr.replace("('", "").replace("', ", "").replace(value_name, "").replace(")", "") \
                     for hdr in matrix_df.columns]
    return matrix_df

In [3]:
def filled_matrix_function(dataframe,row_name,col_name,value_name):
    df = dataframe.filter([row_name,col_name,value_name], axis=1)
    matrix_df = pd.pivot_table(df,index=[row_name],values=[value_name],columns=[col_name], aggfunc='sum')             
    matrix_df = pd.DataFrame(matrix_df.to_records())                                
    matrix_df.columns = [hdr.replace("('", "").replace("', ", "").replace(value_name, "").replace(")", "") \
                     for hdr in matrix_df.columns]
    matrix_df = matrix_df.set_index(row_name).transpose().round(2)
    matrix_df.fillna(method='bfill', inplace=True)
    matrix_df.fillna(method='ffill', inplace=True)
    matrix_df = matrix_df.transpose().reset_index()
    matrix_df = matrix_df[matrix_df[row_name].isin(HappyCountries[row_name])].set_index(row_name)
    matrix_df.drop(matrix_df.columns[[0, 1, 13, 14]], axis = 1, inplace = True)
    return matrix_df

In [4]:
pd.set_option("display.max_rows",None)

The process below are to check Happiness Index data and decide which countries are included.

In [5]:
#Read main Happiness Index file - WHR20_DataForTable2.1.xls
happyindex_file = pd.read_excel("../Resources/WHR20_DataForTable2.1.xls")     
happyindex_file.replace(['Taiwan Province of China'], ['Taiwan'],inplace=True)
country_code = pd.read_csv("../Resources/countrycode1.csv")

In [6]:
country_code.head(1)

  Country name Code
0  Afghanistan  AFG

In [7]:
# create matrix for all happiness index
Happy_Index_df = matrix_maker_function(happyindex_file ,'Country name','year','Life Ladder')
print(Happy_Index_df.shape)
Happy_Index_df.head(1)

(166, 16)

,Country name,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,NaN,NaN,NaN,3.72359,4.401778,4.758381,3.831719,3.782938,3.5721,3.130896,3.982855,4.220169,2.661718,2.694303,2.375092

In [8]:
# check the completeness of data
Happy_Index_df.isna().sum().head(3)

Country name      0
2005            139
2006             77
dtype: int64

HappinessIndex data is the most incomplete for 2005 - and

In [9]:
THappy_Index_df = Happy_Index_df.set_index('Country name').transpose()
THappy_Index_df.isna().sum().head(1)

Country name
Afghanistan    3
dtype: int64

2005 and 2006 has fairly incomplete data set - thus we eliminate those two years. 
Most country have complete data, but a few has less than 10 data points, we eliminate those countries and come up with data set of 128 countries.

In [10]:
#create the matrix of countries that we are going to study
df1 = Happy_Index_df.drop(Happy_Index_df.columns[1:3], axis=1).round(2)
df1 = df1.dropna(thresh=10).reset_index(drop=True)
print(df1.shape)
df1.to_csv("../Outputs/HappyIndex_multiyear_mx.csv", index=False)
df1.head(1)

(128, 14)

,Country name,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,NaN,3.72,4.4,4.76,3.83,3.78,3.57,3.13,3.98,4.22,2.66,2.69,2.38

In [11]:
#check list of rows to be deleted
outcast_df = Happy_Index_df[~Happy_Index_df['Country name'].isin(df1['Country name'])].reset_index(drop=True)
outcast_df.head(1)

,Country name,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Algeria,NaN,NaN,NaN,NaN,NaN,5.463567,5.317194,5.604596,NaN,6.354898,NaN,5.340854,5.248912,5.043086,4.744627

In [12]:
# create a base data frame of countries that in our country list and the country codes .reset_index(drop=True)
HappyCountries = df1.filter(['Country name'], axis=1)

mapping = dict(country_code[['Country name', 'Code']].values)
HappyCountries['Code'] = country_code['Country name'].map(mapping)
#HappyCountries.to_csv("../Outputs/HappyCountries.csv", index=False)
print(HappyCountries.shape)
HappyCountries.head(1)

(128, 2)

  Country name Code
0  Afghanistan  AFG

In [13]:
# drop rows and columns that has too much NaN from original file
new_df = happyindex_file[~happyindex_file['Country name'].isin(outcast_df['Country name'])].round(2)
new_df = new_df[new_df['year'] != (2005,2006)]
new_df = new_df.drop(new_df.columns[9:26], axis=1).reset_index(drop=True)

In [14]:
HI_df = matrix_maker_function(happyindex_file ,'Country name','year','Life Ladder').set_index("Country name").transpose().round(2)
HI_df.fillna(method='bfill', inplace=True)
HI_df.fillna(method='ffill', inplace=True)
HI_df = HI_df.transpose().reset_index()
HI_df = HI_df[HI_df['Country name'].isin(HappyCountries['Country name'])].set_index("Country name")
HI_df.drop(HI_df.columns[[0, 1, 13, 14]], axis = 1, inplace = True)
HI_df.head(1)

              2007  2008  2009  2010  2011  2012  2013  2014  2015  2016  2017
Country name
Afghanistan   3.72  3.72   4.4  4.76  3.83  3.78  3.57  3.13  3.98  4.22  2.66

In [15]:
#create a list of indicators
indicators = new_df.keys()[2:10]
names = ['Happy_Index_mx','Log_GDP_mx','Soc_support_mx','Life_exp_mx','Freedom_mx','Generosity_mx','Corruption_mx']

print(indicators)
print(names)

Index(['Life Ladder', 'Log GDP per capita', 'Social support',
       'Healthy life expectancy at birth', 'Freedom to make life choices',
       'Generosity', 'Perceptions of corruption'],
      dtype='object')
['Happy_Index_mx', 'Log_GDP_mx', 'Soc_support_mx', 'Life_exp_mx', 'Freedom_mx', 'Generosity_mx', 'Corruption_mx']

In [16]:
#create a list of indicators
indicators = new_df.keys()[2:10]

#for all indicators create matrixes of country v/s year
for i in range (0,len(indicators)):
    df = filled_matrix_function(new_df,'Country name','year',indicators[i])
    df.to_csv(f"../Outputs/New_HI{i}_mx.csv", index=False)

# 2017

Due to the availability to other ....... data, the group decided to evaluate the 2017 data
The following process is creating the a data frame of the happiness index and its 6 factors

In [17]:
H1 = HappyCountries.copy()
df_2017 = new_df[new_df["year"]==2017]
df_2017 = pd.merge(H1, df_2017, how='left', on=('Country name')).reset_index(drop=True)
df_2017.rename(columns={"Life Ladder":"Happiness Index","Log GDP per capita":"Log GDP","Healthy life expectancy at birth":"Healthy life exp",
             "Freedom to make life choices":"Freedom","Perceptions of corruption":"Pct corruption"},inplace=True)

print(df_2017.shape) 
df_2017.head(1)

(128, 10)

,Country name,Code,year,Happiness Index,Log GDP,Social support,Healthy life exp,Freedom,Generosity,Pct corruption
0,Afghanistan,AFG,2017.0,2.66,7.47,0.49,52.8,0.43,-0.11,0.95

In [18]:
GDP1_pp = pd.read_csv("../Resources/gdp_df.csv")
GDP1_pp.head(1)

,Country Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1588.0,1882.0,2094.0,2038.0,2220.0,2264.0,2249.0,2213.0,2201.0,2203.0

# GHDx Data

In [19]:
#Read main file - IHME-GBD_2017_DATA-ba7d53b0-1 (without age group)
GHDx_file = pd.read_csv("../Resources/IHME-GBD_2017_DATA-ba7d53b0-1.csv")            
GHDx_file.replace(['Taiwan (Province of China)'], ['Taiwan'],inplace=True)
GHDx_map = pd.read_csv("../Resources/GHDx_map.csv")
GHDx_map.head(15)

,location_name,Country name,Code,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Afghanistan,Afghanistan,AFG,NaN,NaN,NaN
1,Albania,Albania,ALB,NaN,NaN,NaN
2,Algeria,Algeria,DZA,NaN,NaN,NaN
3,American Samoa,American Samoa,NaN,NaN,NaN,NaN
4,Andorra,Andorra,AND,NaN,NaN,NaN
5,Angola,Angola,AGO,NaN,NaN,NaN
6,Antigua and Barbuda,Antigua and Barbuda,ATG,NaN,NaN,NaN
7,Argentina,Argentina,ARG,NaN,NaN,NaN
8,Armenia,Armenia,ARM,NaN,NaN,NaN
9,Australia,Australia,AUS,NaN,NaN,NaN
10,Austria,Austria,AUT,NaN,NaN,NaN
11,Azerbaijan,Azerbaijan,AZE,NaN,NaN,NaN
12,Bahrain,Bahrain,BHR,NaN,NaN,NaN
13,Bangladesh,Bangladesh,BGD,NaN,NaN,NaN
14,Barbados,Barbados,BRB,NaN,NaN,NaN

In [20]:
# DEATH BY SUICIDE RATE/100,000 pop MATRIX
# measure_id = 1 Death, sex_id = 3 All, CauseNo = 718 (selfharm/suicide), MetricId = 3 Rate , year = 2017
suicide_df = GHDx_file[(GHDx_file["measure_id"]==1) & (GHDx_file["sex_id"]==3) & (GHDx_file["cause_id"] == 718) & 
                  (GHDx_file["metric_id"]==3) & (GHDx_file["year"]==2017) ].round(2).reset_index()

# DEPRESSION AND ANXIETY (by Incidents) RATE/100,000 pop MATRIX 
# measure_id = 6 Incidence, sex_id = 3 All, CauseNo = 571 Anxiety disorders, year = 2017
anx_df = GHDx_file[(GHDx_file["measure_id"]==6) & (GHDx_file["sex_id"]==3) & (GHDx_file["cause_id"] == 571) & 
                  (GHDx_file["metric_id"]==3) & (GHDx_file["year"]==2017) ].round(2).reset_index()

# measure_id = 6 Incidence, sex_id = 3 All, CauseNo = 567 Depressive disorders, year = 2017
dep_df = GHDx_file[(GHDx_file["measure_id"]==6) & (GHDx_file["sex_id"]==3) & (GHDx_file["cause_id"] == 567) & 
                  (GHDx_file["metric_id"]==3) & (GHDx_file["year"]==2017) ].round(2).reset_index()

# SUBSTANCE ABUSE (by Incidents) RATE/100,000 pop MATRIX 
# measure_id = 6 Incidence, sex_id = 3 All, CauseNo = 973 Substance Abuse, year = 2017
subst_df = GHDx_file[(GHDx_file["measure_id"]==6) & (GHDx_file["sex_id"]==3) & (GHDx_file["cause_id"] == 973) & 
                  (GHDx_file["metric_id"]==3) & (GHDx_file["year"]==2017) ].round(2).reset_index()

GHDx_df = suicide_df.filter(['location_name','val'], axis=1)
GHDx_df['Depression & Anxiety'] = anx_df["val"] + dep_df["val"] 
GHDx_df['Substance Abuse'] = subst_df["val"] 
GHDx_df = GHDx_df.sort_values(by="location_name").rename(columns={"val":"Suicide"}).reset_index(drop=True)

#GHDx_df.to_csv("../Outputs/GHDx_df.csv", index=False)
print(GHDx_df.shape)
GHDx_df.head(10)

(195, 4)

         location_name  Suicide  Depression & Anxiety  Substance Abuse
0          Afghanistan     5.25               3870.85           687.47
1              Albania     5.86               3179.85           642.91
2              Algeria     4.20               4155.35           560.90
3       American Samoa     6.26               3871.54           577.75
4              Andorra    10.24               7021.78           946.03
5               Angola     6.19               3646.34           478.77
6  Antigua and Barbuda     2.95               6796.09          1711.72
7            Argentina    11.35               3666.08          1089.71
8              Armenia     9.97               4525.35           736.38
9            Australia    12.76               3291.17           455.44

In [21]:
mapping1 = dict(GHDx_map[['location_name', 'Country name']].values)
GHDx_df.insert(1, 'Country name', GHDx_map['location_name'].map(mapping1))
GHDx_df.drop(GHDx_df.columns[0], axis=1, inplace=True)
GHDx_df.shape

(195, 4)

In [22]:
GHDx_2017_df = GHDx_df[GHDx_df['Country name'].isin(df_2017['Country name'])].reset_index(drop=True)
print(GHDx_2017_df.shape)
GHDx_2017_df

(127, 4)

                Country name  Suicide  Depression & Anxiety  Substance Abuse
0                Afghanistan     5.25               3870.85           687.47
1                    Albania     5.86               3179.85           642.91
2                  Argentina    11.35               3666.08          1089.71
3                    Armenia     9.97               4525.35           736.38
4                  Australia    12.76               3291.17           455.44
5                    Austria    16.17               3709.29          2282.46
6                 Azerbaijan     4.22               3436.33          1070.28
7                    Bahrain     4.96               4959.68          1022.44
8                 Bangladesh     5.95               3219.97           314.86
9                    Belarus    24.83               3088.53           619.74
10                   Belgium    18.83               3702.73          1165.80
11                     Benin     5.99               5171.53           523.21
12                   Bolivia     5.79               4635.47           560.01
13    Bosnia and Herzegovina     9.17               3394.43           858.44
14                  Botswana     8.77               4906.40          1077.76
15                    Brazil     6.68               2975.48           664.17
16                  Bulgaria    14.11               5506.84          1150.66
17              Burkina Faso     7.14               3525.55          2248.75
18                  Cambodia     4.10               3689.59          1397.34
19                  Cameroon     7.82               3642.01           496.19
20                    Canada    12.83               3436.98          1344.46
21                      Chad     5.20               3983.12           895.83
22                     Chile    11.50               2909.21           561.61
23                     China     9.10               3334.08           489.46
24                  Colombia     5.76               3927.70           730.62
25                Costa Rica     9.42               2358.57           707.43
26                   Croatia     8.50               3699.59           575.65
27                    Cyprus    16.55               3802.81           633.27
28                    Cyprus     5.58               4110.12           514.98
29            Czech Republic    14.32               2933.01          1032.09
30                   Denmark    12.12               3517.08           448.12
31        Dominican Republic     8.86               2646.42           833.25
32                   Ecuador     9.36               4583.04           872.79
33                     Egypt     4.93               4456.14           617.72
34               El Salvador    10.07               3911.63           450.98
35                    Guinea     4.92               4127.00           555.51
36                   Estonia    16.70               3699.90           557.77
37                   Finland    15.73               4429.15           527.51
38                    France    16.84               3015.98           531.88
39                     Gabon     9.29               2444.47           530.06
40                   Georgia     9.35               4326.92          1176.77
41                   Germany    14.66               3436.80           497.05
42                     Ghana     6.32               5052.76           453.02
43                    Greece     5.52               3341.19          1502.79
44                 Guatemala     5.67               3671.83           632.15
45                    Guinea     6.31               3513.10           960.13
46                     Haiti     7.07               3182.94           739.35
47                  Honduras     3.71               4235.64           688.71
48                   Hungary    20.82               5201.95           780.92
49                     India    15.27               4752.96           481.88
50                 Indonesia     3.07               4197.99           713.02
51                      Iran     5.81               2963.26           483.83
52                      Iraq     3.49               4502.24          1236.11
53                   Ireland     9.32               5167.19          1158.25
54                    Israel     6.06               4259.10          1044.53
55                     Italy     7.16               2861.13           809.37
56                     Japan    22.45               3383.62           925.75
57                    Jordan     2.86               4381.34           665.79
58                Kazakhstan    23.81               2764.64           739.24
59                     Kenya     6.33               5079.76           824.40
60                    Kuwait     3.05               3441.80          1161.79
61                Kyrgyzstan     9.33               4397.27           901.03
62                    Latvia    22.51               4640.60          1118.31
63                   Lebanon     4.77               3166.08           404.91
64                   Liberia     7.19               3795.95           458.80
65                 Lithuania    36.27               5517.05           535.19
66                Luxembourg    11.67               2781.78           708.33
67                 Macedonia     8.80               4235.58           805.16
68                Madagascar     6.09               3243.80           618.85
69                    Malawi     6.91               3443.93           733.77
70                  Malaysia     7.44               3259.19           630.53
71                      Mali     3.58               3260.91           602.27
72                     Malta     6.13               3862.24           436.84
73                Mauritania     4.03               4333.36           890.40
74                    Mexico     6.03               5076.31           515.34
75                   Moldova    17.45               4665.28           780.03
76                  Mongolia    16.14               4523.47           716.74
77                Montenegro    12.24               5053.96           897.28
78                   Morocco     7.25               3531.61           941.76
79                     Nepal     7.83               4390.44          1112.73
80               Netherlands    12.13               4014.43          1123.61
81               New Zealand    12.07               4370.64           529.77
82                 Nicaragua     5.82               3767.74           514.84
83                     Niger     3.52               3888.96          1202.17
84                   Nigeria     3.92               4218.30           779.39
85                  Pakistan     4.24               5503.92           479.98
86   Palestinian Territories     2.99               3121.34           559.69
87                    Panama     5.07               3921.12          1080.73
88                  Paraguay     5.66               2632.19           700.83
89                      Peru     3.11               2768.85           736.70
90               Philippines     5.38               3952.51           340.47
91                    Poland    17.66               3289.41          1100.65
92                  Portugal    12.72               2604.08           963.69
93                   Romania    12.17               3530.02           836.84
94                    Russia    30.03               3724.60           597.71
95                    Rwanda     6.19               4718.13           994.80
96              Saudi Arabia     3.14               3301.36           472.97
97                   Senegal     7.57               3151.17           560.82
98                    Serbia    18.04               3128.24          1061.42
99              Sierra Leone     5.79               2991.24          1296.30
100                Singapore     8.91               4174.74           408.49
101                 Slovakia    12.45               3277.69          1452.44
102                 Slovenia    20.79               3618.12          1106.97
103             South Africa    11.32               4689.27           479.98
104              South Korea    28.91               3325.59           673.49
105                    Spain     8.07               3874.57           654.70
106                Sri Lanka    20.95               4059.97           389.68
107                   Sweden    13.89               2918.21           956.84
108                   Taiwan    18.47               4461.49           973.75
109               Tajikistan     5.25               3472.46           887.49
110                 Tanzania     4.88               3936.80           644.59
111                 Thailand    12.42               4028.09           495.39
112                  Tunisia     3.29               2364.60           445.08
113                   Turkey     3.55               4104.45           753.00
114             Turkmenistan     8.80               2942.83           707.53
115                   Uganda     5.19               3709.73           443.66
116                  Ukraine    30.61               3977.27           511.82
117     United Arab Emirates     6.15               3937.10           760.26
118           United Kingdom     8.67               3678.20          1136.88
119            United States    15.02               4194.96           869.26
120                  Uruguay    19.77               3426.46           748.65
121               Uzbekistan     9.42               3926.11           296.64
122                Venezuela     9.03               4591.79           521.80
123                  Vietnam     7.76               7022.08           835.42
124                    Yemen     4.83               3505.78           625.87
125                   Zambia     6.69               4184.31           655.34
126                 Zimbabwe    17.99               1843.64           851.92

In [23]:
df_2017 = df_2017.reset_index(drop=True)
print(df_2017.shape)
df_2017.tail(1)

(128, 10)

,Country name,Code,year,Happiness Index,Log GDP,Social support,Healthy life exp,Freedom,Generosity,Pct corruption
127,Zimbabwe,ZWE,2017.0,3.64,7.85,0.75,55.0,0.75,-0.09,0.75

In [24]:
#merge(self, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes='_x', '_y', copy=True, indicator=False, validate=None) 
df_2017 = pd.merge(df_2017 , GHDx_df, how='left', on='Country name')
df_2017 = df_2017.drop([df_2017.index[29] , df_2017.index[46]])
print(df_2017.shape)
df_2017

(128, 13)

,Country name,Code,year,Happiness Index,Log GDP,Social support,Healthy life exp,Freedom,Generosity,Pct corruption,Suicide,Depression & Anxiety,Substance Abuse
0,Afghanistan,AFG,2017.0,2.66,7.47,0.49,52.8,0.43,-0.11,0.95,5.25,3870.85,687.47
1,Albania,ALB,2017.0,4.64,9.38,0.64,68.4,0.75,-0.03,0.88,5.86,3179.85,642.91
2,Argentina,ARG,2017.0,6.04,9.85,0.91,68.6,0.83,-0.18,0.84,11.35,3666.08,1089.71
3,Armenia,ARM,2017.0,4.29,9.08,0.70,66.6,0.61,-0.13,0.86,9.97,4525.35,736.38
4,Australia,AUS,2017.0,7.26,10.71,0.95,73.3,0.91,0.31,0.41,12.76,3291.17,455.44
5,Austria,AUT,2017.0,7.29,10.73,0.91,72.7,0.89,0.14,0.52,16.17,3709.29,2282.46
6,Azerbaijan,AZE,2017.0,5.15,9.68,0.79,65.2,0.73,-0.24,0.65,4.22,3436.33,1070.28
7,Bahrain,BHR,2017.0,6.23,10.68,0.88,68.5,0.91,0.13,NaN,4.96,4959.68,1022.44
8,Bangladesh,BGD,2017.0,4.31,8.20,0.71,63.8,0.90,0.02,0.64,5.95,3219.97,314.86
9,Belarus,BLR,2017.0,5.55,9.75,0.90,65.8,0.62,-0.13,0.65,24.83,3088.53,619.74
10,Belgium,BEL,2017.0,6.93,10.66,0.92,71.8,0.86,0.06,0.54,18.83,3702.73,1165.80
11,Benin,BEN,2017.0,4.85,7.63,0.44,53.9,0.73,-0.04,0.77,5.99,5171.53,523.21
12,Bolivia,BOL,2017.0,5.65,8.82,0.78,63.3,0.88,-0.11,0.82,5.79,4635.47,560.01
13,Bosnia and Herzegovina,BIH,2017.0,5.09,9.42,0.78,67.5,0.56,0.09,0.92,9.17,3394.43,858.44
14,Botswana,BWA,2017.0,3.50,9.69,0.77,58.2,0.82,-0.25,0.73,8.77,4906.40,1077.76
15,Brazil,BRA,2017.0,6.33,9.56,0.90,66.2,0.76,-0.18,0.79,6.68,2975.48,664.17
16,Bulgaria,BGR,2017.0,5.10,9.83,0.94,66.6,0.69,-0.15,0.91,14.11,5506.84,1150.66
17,Burkina Faso,BFA,2017.0,4.65,7.44,0.78,53.4,0.61,-0.05,0.73,7.14,3525.55,2248.75
18,Cambodia,KHM,2017.0,4.59,8.20,0.77,61.2,0.96,0.09,0.82,4.10,3689.59,1397.34
19,Cameroon,CMR,2017.0,5.07,8.11,0.69,51.9,0.77,-0.03,0.84,7.82,3642.01,496.19
20,Canada,CAN,2017.0,7.41,10.69,0.93,73.4,0.95,0.16,0.36,12.83,3436.98,1344.46
21,Chad,TCD,2017.0,4.56,7.47,0.66,47.7,0.61,-0.00,0.79,5.20,3983.12,895.83
22,Chile,CHL,2017.0,6.32,10.01,0.88,69.8,0.79,-0.02,0.84,11.50,2909.21,561.61
23,China,CHN,2017.0,5.10,9.63,0.77,69.0,0.88,-0.19,NaN,9.10,3334.08,489.46
24,Colombia,COL,2017.0,6.16,9.49,0.91,67.4,0.84,-0.16,0.88,5.76,3927.70,730.62
25,Congo (Brazzaville),COG,2017.0,4.88,8.54,0.66,57.3,0.78,-0.17,0.76,NaN,NaN,NaN
26,Costa Rica,CRC,2017.0,7.23,9.64,0.92,71.1,0.94,-0.07,0.74,9.42,2358.57,707.43
27,Croatia,HRV,2017.0,5.34,10.04,0.77,69.6,0.72,-0.10,0.89,8.50,3699.59,575.65
28,Cyprus,CYP,2017.0,6.06,10.41,0.82,73.5,0.81,0.04,0.85,16.55,3802.81,633.27
30,Czech Republic,CZE,2017.0,6.79,10.39,0.90,69.8,0.83,-0.17,0.87,14.32,2933.01,1032.09
31,Denmark,DNK,2017.0,7.59,10.76,0.95,72.1,0.96,0.16,0.18,12.12,3517.08,448.12
32,Dominican Republic,DOM,2017.0,5.61,9.61,0.89,65.5,0.86,-0.12,0.76,8.86,2646.42,833.25
33,Ecuador,ECU,2017.0,5.84,9.25,0.85,68.2,0.88,-0.17,0.73,9.36,4583.04,872.79
34,Egypt,EGY,2017.0,3.93,9.28,0.64,61.4,0.59,-0.16,NaN,4.93,4456.14,617.72
35,El Salvador,SLV,2017.0,6.34,8.89,0.83,65.8,0.76,-0.17,0.78,10.07,3911.63,450.98
36,Estonia,EST,2017.0,5.94,10.31,0.94,68.4,0.86,-0.10,0.67,16.70,3699.90,557.77
37,Finland,FIN,2017.0,7.79,10.63,0.96,71.8,0.96,-0.00,0.19,15.73,4429.15,527.51
38,France,FRA,2017.0,6.64,10.57,0.93,73.6,0.83,-0.12,0.60,16.84,3015.98,531.88
39,Gabon,GAB,2017.0,4.78,9.69,0.81,59.2,0.65,-0.24,0.87,9.29,2444.47,530.06
40,Georgia,GEO,2017.0,4.45,9.18,0.59,64.7,0.82,-0.23,0.59,9.35,4326.92,1176.77
41,Germany,DEU,2017.0,7.07,10.72,0.89,71.9,0.84,0.15,0.41,14.66,3436.80,497.05
42,Ghana,GHA,2017.0,5.48,8.31,0.67,56.8,0.78,0.09,0.84,6.32,5052.76,453.02
43,Greece,GRC,2017.0,5.15,10.11,0.75,72.2,0.44,-0.29,0.87,5.52,3341.19,1502.79
44,Guatemala,GTM,2017.0,6.33,8.91,0.83,64.5,0.91,-0.06,0.80,5.67,3671.83,632.15
45,Guinea,GIN,2017.0,4.87,7.70,0.63,53.3,0.74,0.04,0.75,4.92,4127.00,555.51
47,Haiti,HTI,2017.0,3.82,7.41,0.65,55.5,0.48,0.38,0.65,7.07,3182.94,739.35
48,Honduras,HND,2017.0,6.02,8.40,0.84,67.0,0.90,0.08,0.78,3.71,4235.64,688.71
49,Hong Kong S.A.R. of China,HKG,2017.0,5.36,10.93,0.83,NaN,0.83,0.13,0.42,NaN,NaN,NaN
50,Hungary,HUN,2017.0,6.07,10.20,0.88,67.2,0.66,-0.14,0.89,20.82,5201.95,780.92
51,India,IND,2017.0,4.05,8.78,0.61,59.7,0.89,-0.05,0.78,15.27,4752.96,481.88
52,Indonesia,IDN,2017.0,5.10,9.32,0.80,61.9,0.87,0.48,0.90,3.07,4197.99,713.02
53,Iran,IRN,2017.0,4.72,9.86,0.71,65.7,0.73,0.19,0.71,5.81,2963.26,483.83
54,Iraq,IRQ,2017.0,4.46,9.67,0.70,59.6,0.63,-0.03,0.76,3.49,4502.24,1236.11
55,Ireland,IRL,2017.0,7.06,11.10,0.94,72.2,0.91,0.22,0.34,9.32,5167.19,1158.25
56,Israel,ISR,2017.0,7.33,10.41,0.92,73.1,0.77,0.15,0.79,6.06,4259.10,1044.53
57,Italy,ITA,2017.0,6.20,10.47,0.92,73.4,0.63,-0.03,0.87,7.16,2861.13,809.37
58,Japan,JPN,2017.0,5.91,10.57,0.88,74.9,0.85,-0.21,0.66,22.45,3383.62,925.75
59,Jordan,JOR,2017.0,4.81,9.02,0.81,66.6,0.77,-0.15,NaN,2.86,4381.34,665.79
60,Kazakhstan,KAZ,2017.0,5.88,10.09,0.91,64.0,0.75,-0.04,0.76,23.81,2764.64,739.24
61,Kenya,KEN,2017.0,4.48,7.99,0.71,59.5,0.85,0.25,0.85,6.33,5079.76,824.40
62,Kosovo,KXK,2017.0,6.15,9.19,0.79,NaN,0.86,0.12,0.93,NaN,NaN,NaN
63,Kuwait,KWT,2017.0,6.09,11.10,0.85,66.5,0.88,-0.03,NaN,3.05,3441.80,1161.79
64,Kyrgyzstan,KGZ,2017.0,5.63,8.13,0.88,63.8,0.86,0.17,0.87,9.33,4397.27,901.03
65,Latvia,LVA,2017.0,5.98,10.13,0.90,66.5,0.70,-0.15,0.80,22.51,4640.60,1118.31
66,Lebanon,LBN,2017.0,5.15,9.36,0.78,66.6,0.60,-0.06,0.91,4.77,3166.08,404.91
67,Liberia,LBR,2017.0,4.42,7.07,0.68,55.3,0.73,0.00,0.87,7.19,3795.95,458.80
68,Lithuania,LTU,2017.0,6.27,10.30,0.93,66.7,0.75,-0.17,0.79,36.27,5517.05,535.19
69,Luxembourg,LUX,2017.0,7.06,11.44,0.91,72.6,0.90,0.05,0.33,11.67,2781.78,708.33
70,Macedonia,MKD,2017.0,5.23,9.48,0.80,67.3,0.75,-0.05,0.86,8.80,4235.58,805.16
71,Madagascar,MDG,2017.0,4.08,7.26,0.63,58.7,0.57,-0.03,0.85,6.09,3243.80,618.85
72,Malawi,MWI,2017.0,3.42,7.05,0.56,56.9,0.85,0.01,0.73,6.91,3443.93,733.77
73,Malaysia,MYS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.44,3259.19,630.53
74,Mali,MLI,2017.0,4.74,7.61,0.74,51.2,0.75,-0.07,0.86,3.58,3260.91,602.27
75,Malta,MLT,2017.0,6.68,10.52,0.94,72.2,0.92,0.25,0.69,6.13,3862.24,436.84
76,Mauritania,MRT,2017.0,4.68,8.22,0.78,56.7,0.53,-0.14,0.78,4.03,4333.36,890.40
77,Mexico,MEX,2017.0,6.41,9.80,0.80,68.0,0.86,-0.20,0.80,6.03,5076.31,515.34
78,Moldova,MDA,2017.0,5.33,8.74,0.83,64.3,0.55,-0.02,0.93,17.45,4665.28,780.03
79,Mongolia,MNG,2017.0,5.33,9.36,0.92,62.1,0.67,0.11,0.86,16.14,4523.47,716.74
80,Montenegro,MNE,2017.0,5.61,9.71,0.88,68.3,0.63,-0.08,0.76,12.24,5053.96,897.28
81,Morocco,MAR,2017.0,5.31,8.92,0.64,65.6,0.81,-0.22,0.84,7.25,3531.61,941.76
82,Nepal,NPL,2017.0,4.74,7.87,0.82,62.4,0.85,0.14,0.77,7.83,4390.44,1112.73
83,Netherlands,NLD,2017.0,7.46,10.80,0.94,72.2,0.92,0.25,0.36,12.13,4014.43,1123.61
84,New Zealand,NZL,2017.0,7.33,10.49,0.95,73.0,0.94,0.30,0.22,12.07,4370.64,529.77
85,Nicaragua,NIC,2017.0,6.48,8.55,0.84,67.2,0.92,0.01,0.67,5.82,3767.74,514.84
86,Niger,NER,2017.0,4.62,6.83,0.58,53.0,0.68,-0.02,0.78,3.52,3888.96,1202.17
87,Nigeria,NGA,2017.0,5.32,8.59,0.73,49.3,0.83,0.12,0.83,3.92,4218.30,779.39
88,Pakistan,PAK,2017.0,5.83,8.47,0.69,58.1,0.71,0.04,0.71,4.24,5503.92,479.98
89,Palestinian Territories,PS,2017.0,4.63,8.39,0.82,NaN,0.63,-0.16,0.83,2.99,3121.34,559.69
90,Panama,PAN,2017.0,6.57,10.01,0.91,69.5,0.90,-0.16,0.84,5.07,3921.12,1080.73
91,Paraguay,PRY,2017.0,5.71,9.38,0.90,65.5,0.89,0.00,0.81,5.66,2632.19,700.83
92,Peru,PER,2017.0,5.71,9.43,0.83,67.8,0.83,-0.16,0.90,3.11,2768.85,736.70
93,Philippines,PHL,2017.0,5.59,8.93,0.85,61.8,0.93,-0.14,0.71,5.38,3952.51,340.47
94,Poland,POL,2017.0,6.20,10.22,0.88,68.9,0.83,-0.12,0.64,17.66,3289.41,1100.65
95,Portugal,PRT,2017.0,5.71,10.24,0.90,72.2,0.91,-0.17,0.88,12.72,2604.08,963.69
96,Romania,ROU,2017.0,6.09,10.06,0.81,66.9,0.84,-0.16,0.93,12.17,3530.02,836.84
97,Russia,RUS,2017.0,5.58,10.12,0.90,63.9,0.73,-0.15,0.86,30.03,3724.60,597.71
98,Rwanda,RWA,2017.0,3.11,7.55,0.52,60.5,0.91,0.05,0.21,6.19,4718.13,994.80
99,Saudi Arabia,SAU,2017.0,6.29,10.80,0.84,66.0,0.81,-0.14,NaN,3.14,3301.36,472.97
100,Senegal,SEN,2017.0,4.68,8.08,0.74,59.2,0.69,-0.05,0.83,7.57,3151.17,560.82
101,Serbia,SRB,2017.0,5.12,9.63,0.88,67.8,0.68,-0.08,0.85,18.04,3128.24,1061.42
102,Sierra Leone,SLE,2017.0,4.09,7.25,0.65,49.2,0.71,0.09,0.85,5.79,2991.24,1296.30
103,Singapore,SGP,2017.0,6.38,11.38,0.90,76.5,0.93,0.13,0.16,8.91,4174.74,408.49
104,Slovakia,SVK,2017.0,6.37,10.31,0.91,68.6,0.71,-0.06,0.92,12.45,3277.69,1452.44
105,Slovenia,SVN,2017.0,6.17,10.35,0.93,70.8,0.92,-0.02,0.83,20.79,3618.12,1106.97
106,South Africa,ZAF,2017.0,4.51,9.41,0.87,56.1,0.79,-0.13,0.86,11.32,4689.27,479.98
107,South Korea,KOR,2017.0,5.87,10.49,0.81,73.3,0.54,0.01,0.85,28.91,3325.59,673.49
108,Spain,ESP,2017.0,6.23,10.44,0.90,74.1,0.76,-0.03,0.79,8.07,3874.57,654.70
109,Sri Lanka,LKA,2017.0,4.33,9.37,0.82,67.0,0.83,0.09,0.84,20.95,4059.97,389.68
110,Sweden,SWE,2017.0,7.29,10.75,0.91,72.5,0.93,0.17,0.24,13.89,2918.21,956.84
111,Taiwan,TWN,2017.0,6.36,10.78,0.89,NaN,0.76,-0.07,0.74,18.47,4461.49,973.75
112,Tajikistan,TJK,2017.0,5.83,7.98,0.66,63.8,0.83,0.12,0.72,5.25,3472.46,887.49
113,Tanzania,TZA,2017.0,3.35,7.94,0.71,57.0,0.80,0.10,0.65,4.88,3936.80,644.59
114,Thailand,THA,2017.0,5.94,9.70,0.88,67.0,0.92,0.21,0.88,12.42,4028.09,495.39
115,Tunisia,TUN,2017.0,4.12,9.30,0.72,66.6,0.48,-0.23,0.87,3.29,2364.60,445.08
116,Turkey,TUR,2017.0,5.61,10.13,0.88,66.4,0.64,-0.24,0.67,3.55,4104.45,753.00
117,Turkmenistan,TKM,2017.0,5.23,9.70,0.91,61.8,0.72,0.05,NaN,8.80,2942.83,707.53
118,Uganda,UGA,2017.0,4.00,7.48,0.74,55.3,0.77,0.07,0.82,5.19,3709.73,443.66
119,Ukraine,UKR,2017.0,4.31,8.98,0.86,64.3,0.60,0.02,0.94,30.61,3977.27,511.82
120,United Arab Emirates,ARE,2017.0,7.04,11.11,0.84,66.9,0.96,0.21,NaN,6.15,3937.10,760.26
121,United Kingdom,GBR,2017.0,7.10,10.59,0.94,72.1,0.81,0.29,0.42,8.67,3678.20,1136.88
122,United States,USA,2017.0,6.99,10.91,0.92,68.4,0.87,0.19,0.68,15.02,4194.96,869.26
123,Uruguay,URY,2017.0,6.34,9.94,0.91,68.9,0.90,-0.10,0.63,19.77,3426.46,748.65
124,Uzbekistan,UZB,2017.0,6.42,8.71,0.94,64.8,0.99,0.12,0.46,9.42,3926.11,296.64
125,Venezuela,VEN,2017.0,5.07,8.98,0.90,66.3,0.64,-0.17,0.84,9.03,4591.79,521.80
126,Vietnam,VNM,2017.0,5.18,8.74,NaN,67.7,NaN,NaN,NaN,7.76,7022.08,835.42
127,Yemen,YEM,2017.0,3.25,7.79,0.79,55.9,0.60,-0.17,NaN,4.83,3505.78,625.87
128,Zambia,ZMB,2017.0,3.93,8.22,0.74,54.8,0.82,0.13,0.74,6.69,4184.31,655.34
129,Zimbabwe,ZWE,2017.0,3.64,7.85,0.75,55.0,0.75,-0.09,0.75,17.99,1843.64,851.92

In [25]:
#check list of rows to be deleted
#outcast_df1 = df_2017[~df_2017['Country name'].isin(GHDx_df['Country name'])].reset_index(drop=True)
#outcast_df1

# Other Files

In [26]:
GDP1_pp = pd.read_csv("../Resources/gdp_df.csv")
GDP_pp = GDP1_pp.drop(list(GDP1_pp)[1:20], axis=1)
GDP_pp = pd.merge(HappyCountries, GDP1_pp, how='left', left_on='Country name', right_on='Country Name',
         left_index=False, right_index=False, sort=True)

df_2017.insert(3,('GDP'),GDP_pp['2017'])

print(df_2017.shape)
df_2017.head(1)

(128, 14)

,Country name,Code,year,GDP,Happiness Index,Log GDP,Social support,Healthy life exp,Freedom,Generosity,Pct corruption,Suicide,Depression & Anxiety,Substance Abuse
0,Afghanistan,AFG,2017.0,2203.0,2.66,7.47,0.49,52.8,0.43,-0.11,0.95,5.25,3870.85,687.47

In [27]:
# Doctor
Doctor_file = pd.read_csv("../Outputs/physician to population ratio.csv") 
doctor_df = pd.merge(HappyCountries, Doctor_file, how='left', left_on='Country name',  #fit data to standard dataframe
         right_on='Country Name',left_index=False, right_index=False, sort=True)
df_2017['Physician perpop']= doctor_df['2017']

print(df_2017.shape)
df_2017.head(1)

(128, 15)

,Country name,Code,year,GDP,Happiness Index,Log GDP,Social support,Healthy life exp,Freedom,Generosity,Pct corruption,Suicide,Depression & Anxiety,Substance Abuse,Physician perpop
0,Afghanistan,AFG,2017.0,2203.0,2.66,7.47,0.49,52.8,0.43,-0.11,0.95,5.25,3870.85,687.47,NaN

In [28]:
# Average Age
Age_file = pd.read_csv("../Resources/Avg.age2017-final.csv") 

del Age_file['Column1']
Age_file.rename(columns={ Age_file.columns[0]: "Country Name", Age_file.columns[1]:"Average age" }, inplace = True)
Age_file['Country Name'] = Age_file['Country Name'].str.strip()

Age_df = pd.merge(HappyCountries, Age_file, how='left', left_on='Country name',  #fit data to standard dataframe
         right_on='Country Name',left_index=False, right_index=False, sort=True)
df_2017['Average age']= Age_df['Average age']      #add to df_2017 dataframe
print(df_2017.shape)
df_2017.head(1)

(128, 16)

,Country name,Code,year,GDP,Happiness Index,Log GDP,Social support,Healthy life exp,Freedom,Generosity,Pct corruption,Suicide,Depression & Anxiety,Substance Abuse,Physician perpop,Average age
0,Afghanistan,AFG,2017.0,2203.0,2.66,7.47,0.49,52.8,0.43,-0.11,0.95,5.25,3870.85,687.47,NaN,18.8

In [29]:
# Sleep
Sleep_file = pd.read_csv("../Resources/Avg_sleep_minutes.csv") 

sleep_df = pd.merge(HappyCountries, Sleep_file, how='left', left_on='Country name',  #fit data to standard dataframe
         right_on='Country',left_index=False, right_index=False, sort=True)
df_2017['Sleep (min)']= sleep_df['Minutes']      #add to df_2017 dataframe
print(df_2017.shape)
df_2017.head(1)

(128, 17)

,Country name,Code,year,GDP,Happiness Index,Log GDP,Social support,Healthy life exp,Freedom,Generosity,Pct corruption,Suicide,Depression & Anxiety,Substance Abuse,Physician perpop,Average age,Sleep (min)
0,Afghanistan,AFG,2017.0,2203.0,2.66,7.47,0.49,52.8,0.43,-0.11,0.95,5.25,3870.85,687.47,NaN,18.8,NaN

# TheGlobalEconomy Files

In [30]:
# TheGlobalEconomy data
#Read files
Global1_file = pd.read_csv("../Resources/TheGlobalEconomy1.csv")  
Global2_file = pd.read_csv("../Resources/TheGlobalEconomy2.csv")

In [31]:
Global1_file.rename(columns={"Gini income inequality index":"Gini index","Poverty percent of population":"Pct Poverty",
                            "Public spending on education percent of public spending":"Pct spent ed",
                             "International tourism revenue":"Rev tourism"},inplace=True)
Global2_file.rename(columns={"Fragile state index 0 (low) - 120 (high)":"Fragile State index",
                             "Security threats index 0 (low) - 10 (high)":"Security index",
                             "Human flight and brain drain index 0 (low) - 10 (high)":"Brain drain"},inplace=True)

print(Global1_file.shape)
Global2_file.head(1)

(2288, 14)

,Country,Code,Year,Labor force million people,Unemployment rate,Unemployment rate for females,Unemployment rate for males,Youth unemployment ages 15-24,Labor force participation rate,Labor force percent female,...,Percent urban population,Population density people per square km,Life expectancy in years,Ratio of female to male pupils in primary school,Tertiary school enrollment percent of all eligible children,Percent of world GDP,Fragile State index,Security index,Uneven economic development index 0 (low) - 10 (high),Brain drain
0,Afghanistan,AFG,2007,6.75,11.05,14.72,10.38,17.25,48.0,15.4,...,23.11,42.0,59.38,0.61,NaN,0.02,102.3,9.0,8.0,7.0

In [32]:
Global1_df = Global1_file[Global1_file["Year"]==2017]
Global1_df = Global1_df.filter(['Code','Gini index','Pct Poverty','Pct spent ed','Literacy rate','Tourist arrivals','Rev tourism'], axis=1).reset_index(drop=True)  
Global_df = pd.merge(HappyCountries, Global1_df, how='left', on=('Code')).reset_index(drop=True)

Global2_df = Global2_file[Global2_file["Year"]==2017]
Global2_df = Global2_df.filter(['Code','Fragile State index','Security index','Brain drain','Unemployment rate'], axis=1).reset_index(drop=True)  
Global_df = pd.merge(Global_df, Global2_df, how='left', on=('Code')).reset_index(drop=True)

print(Global_df.shape)
Global_df.head(1)

(128, 12)

,Country name,Code,Gini index,Pct Poverty,Pct spent ed,Literacy rate,Tourist arrivals,Rev tourism,Fragile State index,Security index,Brain drain,Unemployment rate
0,Afghanistan,AFG,NaN,NaN,15.66,NaN,NaN,16.0,107.3,10.0,8.2,11.18

In [33]:
df_2017 = pd.merge(df_2017, Global_df, how='left', on=('Country name','Code')).reset_index(drop=True)
print(df_2017.shape)
df_2017.head(1)

(128, 27)

,Country name,Code,year,GDP,Happiness Index,Log GDP,Social support,Healthy life exp,Freedom,Generosity,...,Gini index,Pct Poverty,Pct spent ed,Literacy rate,Tourist arrivals,Rev tourism,Fragile State index,Security index,Brain drain,Unemployment rate
0,Afghanistan,AFG,2017.0,2203.0,2.66,7.47,0.49,52.8,0.43,-0.11,...,NaN,NaN,15.66,NaN,NaN,16.0,107.3,10.0,8.2,11.18

# Normalisation

In [34]:
min_value = df_2017.min()
max_value = df_2017.max()

norml_df = pd.DataFrame({'Min Value':min_value,'Max Value':max_value})
norml_df.drop(norml_df.index[:3], inplace=True)
norml_df['range'] = norml_df['Max Value'] - norml_df['Min Value']

norml_df.to_csv("../Outputs/Normalization value 2017.csv", index=True)
norml_df

                     Min Value Max Value    range
GDP                        847    112823   111976
Happiness Index           2.66      7.79     5.13
Log GDP                   6.83     11.44     4.61
Social support            0.44      0.96     0.52
Healthy life exp          47.7      76.5     28.8
Freedom                   0.43      0.99     0.56
Generosity               -0.29      0.48     0.77
Pct corruption            0.16      0.95     0.79
Suicide                   2.86     36.27    33.41
Depression & Anxiety   1843.64   7022.08  5178.44
Substance Abuse         296.64   2282.46  1985.82
Physician perpop        0.0434    6.1297   6.0863
Average age               15.4      47.3     31.9
Sleep (min)                377       458       81
Gini index                25.4      53.3     27.9
Pct Poverty                2.4        70     67.6
Pct spent ed              6.95     30.15     23.2
Literacy rate             48.3     99.79    51.49
Tourist arrivals            11     86758    86747
Rev tourism                 16    251544   251528
Fragile State index       18.7     111.1     92.4
Security index               1        10        9
Brain drain                1.3       8.8      7.5
Unemployment rate         0.49     27.07    26.58

In [35]:
col_2017 = df_2017.keys()
print(col_2017)

Index(['Country name', 'Code', 'year', 'GDP', 'Happiness Index', 'Log GDP',
       'Social support', 'Healthy life exp', 'Freedom', 'Generosity',
       'Pct corruption', 'Suicide', 'Depression & Anxiety', 'Substance Abuse',
       'Physician perpop', 'Average age', 'Sleep (min)', 'Gini index',
       'Pct Poverty', 'Pct spent ed', 'Literacy rate', 'Tourist arrivals',
       'Rev tourism', 'Fragile State index', 'Security index', 'Brain drain',
       'Unemployment rate'],
      dtype='object')

In [36]:
#NORMALIZATION TABLE 2017
norm_2017_df = country_code.copy()   
for i in range(3,len(col_2017)):
    norm_2017_df[col_2017 [i]]= (df_2017[col_2017 [i]] - norml_df.loc[col_2017 [i],'Min Value']) / norml_df.loc[col_2017 [i],'range']

norm_2017_df['Blue Index'] = norm_2017_df[['Suicide','Depression & Anxiety','Substance Abuse']].mean(axis=1)
norm_2017_df.to_csv("../Outputs/Normalized Table 2017_df.csv", index=False)
norm_2017_df.round(2)

,Country name,Code,GDP,Happiness Index,Log GDP,Social support,Healthy life exp,Freedom,Generosity,Pct corruption,...,Pct Poverty,Pct spent ed,Literacy rate,Tourist arrivals,Rev tourism,Fragile State index,Security index,Brain drain,Unemployment rate,Blue Index
0,Afghanistan,AFG,0.01,0.00,0.14,0.10,0.18,0.00,0.23,1.00,...,NaN,0.38,NaN,NaN,0.00,0.96,1.00,0.92,0.40,0.22
1,Albania,ALB,0.11,0.39,0.55,0.38,0.72,0.57,0.34,0.91,...,NaN,0.23,NaN,0.05,0.01,0.45,0.41,0.84,0.50,0.17
2,Argentina,ARG,0.20,0.66,0.66,0.90,0.73,0.71,0.14,0.86,...,0.34,0.27,NaN,0.08,0.02,0.32,0.37,0.23,0.30,0.34
3,Armenia,ARM,0.10,0.32,0.49,0.50,0.66,0.32,0.21,0.89,...,0.34,0.15,1.00,0.02,0.00,0.57,0.50,0.65,0.65,0.32
4,Australia,AUS,0.43,0.90,0.84,0.98,0.89,0.86,0.78,0.32,...,NaN,NaN,NaN,0.10,0.17,0.04,0.12,0.00,0.19,0.22
5,Austria,AUT,0.48,0.90,0.85,0.90,0.87,0.82,0.56,0.46,...,NaN,NaN,NaN,0.34,0.09,0.10,0.00,0.03,0.19,0.59
6,Azerbaijan,AZE,0.12,0.49,0.62,0.67,0.61,0.54,0.06,0.62,...,NaN,0.00,1.00,0.03,0.01,0.62,0.58,0.40,0.17,0.25
7,Bahrain,BHR,0.42,0.70,0.84,0.85,0.72,0.86,0.55,NaN,...,NaN,0.01,0.95,0.13,0.02,0.50,0.66,0.29,0.01,0.34
8,Bangladesh,BGD,0.03,0.32,0.30,0.52,0.56,0.84,0.40,0.61,...,NaN,0.49,0.48,0.01,0.00,0.76,0.73,0.87,0.15,0.12
9,Belarus,BLR,0.16,0.56,0.63,0.88,0.63,0.34,0.21,0.62,...,0.05,0.23,NaN,0.13,0.00,0.58,0.57,0.28,0.19,0.35
10,Belgium,BEL,0.45,0.83,0.83,0.92,0.84,0.77,0.45,0.48,...,NaN,NaN,NaN,0.10,0.04,0.13,0.16,0.04,0.25,0.42
11,Benin,BEN,0.02,0.43,0.17,0.00,0.22,0.54,0.32,0.77,...,NaN,0.56,NaN,0.00,0.00,0.64,0.58,0.81,0.07,0.28
12,Bolivia,BOL,0.07,0.58,0.43,0.65,0.54,0.80,0.23,0.84,...,0.50,NaN,NaN,0.01,0.00,0.63,0.61,0.76,0.12,0.25
13,Bosnia and Herzegovina,BIH,0.12,0.47,0.56,0.65,0.69,0.23,0.49,0.96,...,NaN,NaN,NaN,0.01,0.00,0.59,0.52,0.56,0.75,0.26
14,Botswana,BWA,0.15,0.16,0.62,0.63,0.36,0.70,0.05,0.72,...,NaN,NaN,NaN,0.02,0.00,0.49,0.34,0.56,0.64,0.39
15,Brazil,BRA,0.12,0.72,0.59,0.88,0.64,0.59,0.14,0.80,...,NaN,NaN,0.87,0.08,0.02,0.54,0.63,0.44,0.46,0.17
16,Bulgaria,BGR,0.18,0.48,0.65,0.96,0.66,0.46,0.18,0.95,...,0.29,NaN,NaN,0.10,0.02,0.38,0.37,0.39,0.21,0.49
17,Burkina Faso,BFA,0.01,0.39,0.13,0.65,0.20,0.32,0.31,0.72,...,NaN,0.62,NaN,0.00,0.00,0.75,0.82,0.83,0.22,0.48
18,Cambodia,KHM,0.03,0.38,0.30,0.63,0.47,0.95,0.49,0.84,...,NaN,NaN,NaN,0.06,0.02,0.73,0.63,0.84,0.01,0.32
19,Cameroon,CMR,0.02,0.47,0.28,0.48,0.15,0.61,0.34,0.86,...,NaN,0.39,NaN,0.01,0.00,0.83,0.77,0.84,0.11,0.20
20,Canada,CAN,0.43,0.93,0.84,0.94,0.89,0.93,0.58,0.25,...,NaN,NaN,NaN,0.24,0.08,0.04,0.13,0.05,0.22,0.38
21,Chad,TCD,0.01,0.37,0.14,0.42,0.00,0.32,0.38,0.80,...,NaN,0.41,NaN,0.00,NaN,0.98,0.93,1.00,0.05,0.26
22,Chile,CHL,0.20,0.71,0.69,0.85,0.77,0.64,0.35,0.86,...,0.09,0.62,0.93,0.07,0.02,0.24,0.24,0.33,0.24,0.20
23,China,CHN,0.12,0.48,0.61,0.63,0.74,0.80,0.13,NaN,...,0.01,NaN,NaN,0.70,0.15,0.61,0.54,0.48,0.15,0.19
24,Colombia,COL,0.12,0.68,0.58,0.90,0.68,0.73,0.17,0.91,...,0.36,0.40,NaN,0.04,0.02,0.65,0.66,0.65,0.32,0.24
25,Congo (Brazzaville),COG,NaN,0.43,0.37,0.42,0.33,0.62,0.16,0.76,...,NaN,0.38,NaN,0.00,NaN,0.81,0.69,0.81,0.35,NaN
26,Costa Rica,CRC,0.16,0.89,0.61,0.92,0.81,0.91,0.29,0.73,...,0.26,1.00,NaN,0.03,0.02,0.27,0.29,0.37,0.29,0.17
27,Croatia,HRV,0.23,0.52,0.70,0.63,0.76,0.52,0.25,0.92,...,0.25,NaN,NaN,0.18,0.04,0.35,0.28,0.45,0.40,0.22
28,Cyprus,CYP,0.29,0.66,0.78,0.73,0.90,0.68,0.43,0.87,...,NaN,NaN,NaN,0.04,0.01,0.48,0.38,0.36,0.40,0.32
29,Czech Republic,CZE,0.48,0.81,0.77,0.88,0.77,0.71,0.16,0.90,...,NaN,NaN,NaN,0.12,0.03,0.23,0.18,0.20,0.09,0.31
30,Denmark,DNK,0.14,0.96,0.85,0.98,0.85,0.95,0.58,0.03,...,NaN,NaN,NaN,0.14,0.03,0.03,0.08,0.08,0.20,0.23
31,Dominican Republic,DOM,0.10,0.58,0.60,0.87,0.62,0.77,0.22,0.76,...,0.34,NaN,NaN,0.07,0.03,0.54,0.53,0.77,0.20,0.20
32,Ecuador,ECU,0.09,0.62,0.52,0.79,0.71,0.80,0.16,0.72,...,0.28,NaN,0.86,0.02,0.01,0.63,0.64,0.60,0.13,0.34
33,Egypt,EGY,0.07,0.25,0.53,0.38,0.48,0.29,0.17,NaN,...,0.45,NaN,0.44,0.09,0.03,0.77,0.79,0.45,0.42,0.24
34,El Salvador,SLV,0.29,0.72,0.45,0.75,0.63,0.59,0.16,0.78,...,0.40,0.37,0.78,0.02,0.00,0.59,0.70,0.88,0.15,0.23
35,Estonia,EST,0.42,0.64,0.75,0.96,0.72,0.77,0.25,0.65,...,NaN,NaN,NaN,0.04,0.01,0.28,0.26,0.36,0.20,0.30
36,Finland,FIN,0.39,1.00,0.82,1.00,0.84,0.95,0.38,0.04,...,NaN,NaN,NaN,0.04,0.02,0.00,0.08,0.13,0.31,0.33
37,France,FRA,0.13,0.78,0.81,0.94,0.90,0.71,0.22,0.56,...,NaN,NaN,NaN,1.00,0.27,0.16,0.26,0.12,0.34,0.25
38,Gabon,GAB,0.11,0.41,0.62,0.71,0.40,0.39,0.06,0.90,...,0.46,NaN,NaN,NaN,NaN,0.60,0.47,0.64,0.73,0.14
39,Georgia,GEO,0.47,0.35,0.51,0.29,0.59,0.70,0.08,0.54,...,0.29,0.26,0.99,0.05,0.01,0.63,0.64,0.48,0.51,0.37
40,Germany,DEU,0.04,0.86,0.84,0.87,0.84,0.73,0.57,0.32,...,NaN,NaN,NaN,0.43,0.22,0.10,0.12,0.11,0.12,0.25
41,Ghana,GHA,0.25,0.55,0.32,0.44,0.32,0.62,0.49,0.86,...,NaN,0.57,NaN,NaN,0.00,0.55,0.31,0.92,0.14,0.27
42,Greece,GRC,0.07,0.49,0.71,0.60,0.85,0.02,0.00,0.90,...,NaN,NaN,NaN,0.31,0.08,0.42,0.39,0.27,0.79,0.33
43,Guatemala,GTM,0.01,0.72,0.45,0.75,0.58,0.86,0.30,0.81,...,NaN,0.70,NaN,0.02,0.01,0.70,0.73,0.80,0.07,0.20
44,Guinea,GIN,0.01,0.43,0.19,0.37,0.19,0.55,0.43,0.75,...,NaN,0.28,NaN,0.00,0.00,0.91,0.87,0.81,0.14,0.21
45,Haiti,HTI,NaN,0.23,0.13,0.40,0.27,0.09,0.87,0.62,...,NaN,0.36,NaN,0.01,0.00,0.94,0.74,1.00,0.50,0.20
46,Honduras,HND,0.26,0.65,0.34,0.77,0.67,0.84,0.48,0.78,...,0.70,NaN,NaN,0.01,0.00,0.65,0.70,0.68,0.19,0.23
47,Hong Kong S.A.R. of China,HKG,0.05,0.53,0.89,0.75,NaN,0.71,0.55,0.33,...,NaN,0.47,NaN,0.32,0.15,NaN,NaN,NaN,0.10,NaN
48,Hungary,HUN,0.09,0.66,0.73,0.85,0.68,0.41,0.19,0.92,...,NaN,NaN,NaN,0.18,0.03,0.36,0.19,0.27,0.14,0.48
49,India,IND,0.12,0.27,0.42,0.33,0.42,0.82,0.31,0.78,...,NaN,NaN,NaN,0.18,0.11,0.64,0.71,0.64,0.19,0.34
50,Indonesia,IDN,0.09,0.48,0.54,0.69,0.49,0.79,1.00,0.94,...,0.12,NaN,NaN,0.16,0.06,0.59,0.58,0.75,0.14,0.22
51,Iran,IRN,0.69,0.40,0.66,0.52,0.63,0.54,0.62,0.70,...,NaN,0.56,NaN,0.06,0.02,0.73,0.72,0.69,0.44,0.13
52,Iraq,IRQ,0.34,0.35,0.62,0.50,0.41,0.36,0.34,0.76,...,NaN,NaN,0.72,NaN,0.01,0.94,1.00,0.85,0.47,0.34
53,Ireland,IRL,0.37,0.86,0.93,0.96,0.85,0.86,0.66,0.23,...,NaN,NaN,NaN,0.12,0.06,0.04,0.12,0.20,0.23,0.42
54,Israel,ISR,0.36,0.91,0.78,0.92,0.88,0.61,0.57,0.80,...,NaN,NaN,NaN,0.04,0.03,0.65,0.66,0.33,0.14,0.31
55,Italy,ITA,0.08,0.69,0.79,0.92,0.89,0.36,0.34,0.90,...,NaN,NaN,NaN,0.67,0.19,0.29,0.39,0.09,0.40,0.19
56,Japan,JPN,0.21,0.63,0.81,0.85,0.94,0.75,0.10,0.63,...,NaN,NaN,NaN,0.33,0.15,0.20,0.07,0.25,0.09,0.40
57,Jordan,JOR,0.03,0.42,0.48,0.71,0.66,0.61,0.18,NaN,...,NaN,0.22,NaN,0.04,0.02,0.65,0.52,0.39,0.55,0.23
58,Kazakhstan,KAZ,NaN,0.63,0.71,0.90,0.57,0.57,0.32,0.76,...,0.00,0.19,NaN,0.09,0.01,0.51,0.47,0.31,0.17,0.34
59,Kenya,KEN,0.45,0.35,0.25,0.52,0.41,0.75,0.70,0.87,...,NaN,0.46,NaN,0.02,0.01,0.84,0.81,0.84,0.08,0.33
60,Kosovo,KXK,0.04,0.68,0.51,0.67,NaN,0.77,0.53,0.97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Kuwait,KWT,0.25,0.67,0.93,0.79,0.65,0.80,0.34,NaN,...,NaN,NaN,0.93,0.09,0.00,0.43,0.36,0.31,0.05,0.25
62,Kyrgyzstan,KGZ,0.14,0.58,0.28,0.85,0.56,0.77,0.60,0.90,...,0.34,0.38,NaN,0.00,0.00,0.67,0.61,0.76,0.24,0.33
63,Latvia,LVA,0.01,0.65,0.72,0.88,0.65,0.48,0.18,0.81,...,NaN,NaN,NaN,0.02,0.00,0.30,0.22,0.47,0.31,0.51
64,Lebanon,LBN,0.29,0.49,0.55,0.65,0.66,0.30,0.30,0.95,...,NaN,NaN,NaN,0.02,0.03,0.75,0.86,0.49,0.22,0.12
65,Liberia,LBR,1.00,0.34,0.05,0.46,0.26,0.54,0.38,0.90,...,NaN,0.06,0.00,NaN,NaN,0.81,0.60,0.79,0.09,0.20
66,Lithuania,LTU,0.13,0.70,0.75,0.94,0.66,0.57,0.16,0.80,...,NaN,NaN,NaN,0.03,0.01,0.25,0.23,0.41,0.25,0.61
67,Luxembourg,LUX,0.01,0.86,1.00,0.90,0.86,0.84,0.44,0.22,...,NaN,NaN,NaN,0.01,0.02,0.05,0.08,0.11,0.19,0.22
68,Macedonia,MKD,0.00,0.50,0.57,0.69,0.68,0.57,0.31,0.89,...,0.29,NaN,NaN,0.01,0.00,0.51,0.51,0.52,0.82,0.30
69,Madagascar,MDG,0.23,0.28,0.09,0.37,0.38,0.25,0.34,0.87,...,NaN,NaN,NaN,0.00,0.00,0.71,0.68,0.72,0.05,0.18
70,Malawi,MWI,0.01,0.15,0.05,0.23,0.32,0.75,0.39,0.72,...,NaN,0.32,NaN,0.01,0.00,0.75,0.42,0.88,0.20,0.22
71,Malaysia,MYS,0.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.63,0.91,0.30,0.08,0.51,0.59,0.49,0.11,0.19
72,Mali,MLI,0.03,0.41,0.17,0.58,0.12,0.57,0.29,0.89,...,NaN,0.41,NaN,0.00,0.00,0.80,0.89,0.96,0.26,0.15
73,Malta,MLT,0.17,0.78,0.80,0.96,0.85,0.88,0.70,0.67,...,NaN,NaN,NaN,0.03,0.01,0.22,0.29,0.32,0.13,0.19
74,Mauritania,MRT,0.10,0.39,0.30,0.65,0.31,0.18,0.19,0.78,...,NaN,NaN,0.10,NaN,0.00,0.81,0.66,0.75,0.34,0.27
75,Mexico,MEX,0.09,0.73,0.64,0.69,0.70,0.77,0.12,0.81,...,NaN,NaN,0.91,0.45,0.09,0.60,0.82,0.60,0.11,0.28
76,Moldova,MDA,0.17,0.52,0.41,0.75,0.58,0.21,0.35,0.97,...,NaN,0.49,NaN,0.00,0.00,0.58,0.57,0.71,0.14,0.41
77,Mongolia,MNG,0.06,0.52,0.55,0.92,0.50,0.43,0.52,0.89,...,NaN,0.25,NaN,0.01,0.00,0.41,0.29,0.27,0.22,0.38
78,Montenegro,MNE,0.02,0.58,0.62,0.85,0.72,0.36,0.27,0.76,...,NaN,NaN,NaN,0.02,0.00,0.40,0.33,0.36,0.59,0.40
79,Morocco,MAR,0.49,0.52,0.45,0.38,0.62,0.68,0.09,0.86,...,NaN,NaN,NaN,0.13,0.04,0.61,0.53,0.92,0.33,0.26
80,Nepal,NPL,0.36,0.41,0.23,0.73,0.51,0.75,0.56,0.77,...,NaN,0.44,NaN,0.01,0.00,0.78,0.61,0.69,0.03,0.35
81,Netherlands,NLD,0.05,0.94,0.86,0.96,0.85,0.88,0.70,0.25,...,NaN,NaN,NaN,0.21,0.09,0.09,0.06,0.17,0.16,0.37
82,New Zealand,NZL,0.00,0.91,0.79,0.98,0.88,0.91,0.77,0.08,...,NaN,NaN,NaN,0.04,0.04,0.04,0.02,0.11,0.16,0.29
83,Nicaragua,NIC,0.04,0.74,0.37,0.77,0.68,0.88,0.39,0.65,...,NaN,NaN,NaN,0.02,0.00,0.64,0.51,0.91,0.11,0.19
84,Niger,NER,0.03,0.38,0.00,0.27,0.18,0.45,0.35,0.78,...,NaN,0.27,NaN,0.00,0.00,0.85,0.86,0.83,0.00,0.29
85,Nigeria,NGA,NaN,0.52,0.38,0.56,0.06,0.71,0.53,0.85,...,NaN,NaN,NaN,NaN,0.01,0.90,0.91,0.79,0.30,0.24
86,Pakistan,PAK,0.26,0.62,0.36,0.48,0.36,0.50,0.43,0.70,...,NaN,0.33,0.21,NaN,0.00,0.87,0.90,0.79,0.13,0.28
87,Palestinian Territories,PS,0.10,0.38,0.34,0.73,NaN,0.36,0.17,0.85,...,NaN,NaN,NaN,0.01,0.00,NaN,NaN,NaN,0.95,0.13
88,Panama,PAN,0.10,0.76,0.69,0.90,0.76,0.84,0.17,0.86,...,NaN,NaN,NaN,0.02,0.03,0.35,0.49,0.44,0.13,0.29
89,Paraguay,PRY,0.06,0.59,0.55,0.88,0.62,0.82,0.38,0.82,...,0.36,NaN,NaN,0.02,0.00,0.57,0.62,0.60,0.16,0.15
90,Peru,PER,0.26,0.59,0.56,0.75,0.70,0.71,0.17,0.94,...,0.29,0.49,0.89,0.05,0.02,0.56,0.68,0.80,0.11,0.14
91,Philippines,PHL,0.29,0.57,0.46,0.79,0.49,0.89,0.19,0.70,...,NaN,NaN,NaN,0.08,0.03,0.71,0.97,0.69,0.08,0.17
92,Poland,POL,0.24,0.69,0.74,0.85,0.74,0.71,0.22,0.61,...,0.18,NaN,NaN,0.21,0.06,0.24,0.09,0.43,0.17,0.38
93,Portugal,PRT,NaN,0.59,0.74,0.88,0.85,0.86,0.16,0.91,...,NaN,NaN,NaN,0.18,0.09,0.11,0.03,0.12,0.32,0.26
94,Romania,ROU,0.01,0.67,0.70,0.71,0.67,0.73,0.17,0.97,...,0.31,NaN,NaN,0.13,0.01,0.35,0.22,0.43,0.17,0.29
95,Russia,RUS,0.41,0.57,0.71,0.88,0.56,0.54,0.18,0.89,...,0.16,NaN,NaN,0.28,0.06,0.65,0.88,0.36,0.18,0.44
96,Rwanda,RWA,0.02,0.09,0.16,0.15,0.44,0.86,0.44,0.06,...,NaN,0.18,NaN,NaN,0.00,0.78,0.58,0.81,0.02,0.34
97,Saudi Arabia,SAU,0.14,0.71,0.86,0.77,0.64,0.68,0.19,NaN,...,NaN,NaN,0.91,0.19,0.06,0.57,0.59,0.33,0.20,0.13
98,Senegal,SEN,0.01,0.39,0.27,0.58,0.40,0.46,0.31,0.85,...,NaN,0.61,0.07,0.02,0.00,0.69,0.58,0.89,0.23,0.18
99,Serbia,SRB,0.83,0.48,0.61,0.85,0.70,0.45,0.27,0.87,...,0.32,0.10,NaN,0.02,0.01,0.56,0.50,0.53,0.49,0.36
100,Sierra Leone,SLE,0.27,0.28,0.09,0.40,0.05,0.50,0.49,0.87,...,NaN,0.56,NaN,0.00,0.00,0.76,0.37,0.96,0.15,0.27
101,Singapore,SGP,0.32,0.73,0.99,0.88,1.00,0.89,0.55,0.00,...,NaN,NaN,0.95,0.16,0.08,0.15,0.07,0.27,0.14,0.23
102,Slovakia,SVK,0.11,0.72,0.75,0.90,0.73,0.50,0.30,0.96,...,NaN,NaN,NaN,0.02,0.01,0.28,0.09,0.39,0.29,0.38
103,Slovenia,SVN,0.34,0.68,0.76,0.94,0.80,0.88,0.35,0.85,...,NaN,NaN,NaN,0.05,0.01,0.15,0.07,0.24,0.23,0.43
104,South Africa,ZAF,0.35,0.36,0.56,0.83,0.29,0.64,0.21,0.89,...,NaN,0.51,0.75,0.12,0.04,0.58,0.57,0.56,1.00,0.30
105,South Korea,KOR,0.11,0.63,0.79,0.71,0.89,0.20,0.39,0.87,...,NaN,NaN,NaN,0.15,0.07,0.21,0.12,0.35,0.12,0.42
106,Spain,ESP,0.46,0.70,0.78,0.88,0.92,0.59,0.34,0.80,...,NaN,NaN,NaN,0.94,0.30,0.21,0.20,0.08,0.63,0.24
107,Sri Lanka,LKA,0.44,0.33,0.55,0.73,0.67,0.71,0.49,0.86,...,NaN,0.33,0.85,0.02,0.02,0.73,0.71,0.85,0.14,0.34
108,Sweden,SWE,0.02,0.90,0.85,0.90,0.86,0.89,0.60,0.10,...,NaN,NaN,NaN,0.08,0.06,0.04,0.12,0.03,0.23,0.29
109,Taiwan,TWN,0.02,0.72,0.86,0.87,NaN,0.59,0.29,0.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.44
110,Tajikistan,TJK,0.15,0.62,0.25,0.42,0.56,0.71,0.53,0.71,...,0.40,NaN,NaN,0.00,0.00,0.68,0.63,0.65,0.41,0.23
111,Tanzania,TZA,0.09,0.13,0.24,0.52,0.32,0.66,0.51,0.62,...,NaN,0.75,NaN,0.01,0.01,0.67,0.50,0.84,0.06,0.21
112,Thailand,THA,0.24,0.64,0.62,0.85,0.67,0.88,0.65,0.91,...,0.08,NaN,NaN,0.41,0.23,0.62,0.89,0.45,0.01,0.27
113,Tunisia,TUN,0.12,0.28,0.54,0.54,0.66,0.09,0.08,0.90,...,NaN,NaN,NaN,0.08,0.01,0.60,0.81,0.64,0.56,0.06
114,Turkey,TUR,0.01,0.58,0.72,0.85,0.65,0.38,0.06,0.65,...,0.17,NaN,0.93,0.43,0.13,0.67,0.81,0.35,0.39,0.23
115,Turkmenistan,TKM,0.06,0.50,0.62,0.90,0.49,0.52,0.44,NaN,...,NaN,NaN,NaN,NaN,NaN,0.60,0.59,0.51,0.13,0.20
116,Uganda,UGA,0.58,0.26,0.14,0.58,0.26,0.61,0.47,0.84,...,NaN,0.24,NaN,0.02,0.00,0.84,0.68,0.84,0.05,0.17
117,Ukraine,UKR,0.40,0.32,0.47,0.81,0.58,0.30,0.40,0.99,...,0.00,0.26,NaN,NaN,NaN,0.60,0.73,0.52,0.34,0.45
118,United Arab Emirates,ARE,0.53,0.85,0.93,0.77,0.67,0.95,0.65,NaN,...,NaN,NaN,NaN,0.23,0.08,0.27,0.23,0.16,0.07,0.25
119,United Kingdom,GBR,0.18,0.87,0.82,0.96,0.85,0.68,0.75,0.33,...,NaN,NaN,NaN,0.43,0.19,0.16,0.19,0.11,0.14,0.32
120,United States,USA,0.05,0.84,0.89,0.92,0.72,0.79,0.62,0.66,...,NaN,NaN,NaN,0.89,1.00,0.18,0.24,0.05,0.15,0.37
121,Uruguay,URY,NaN,0.72,0.67,0.90,0.74,0.84,0.25,0.59,...,0.08,0.34,0.98,0.04,0.01,0.20,0.31,0.41,0.28,0.35
122,Uzbekistan,UZB,0.06,0.73,0.41,0.96,0.59,1.00,0.53,0.38,...,NaN,0.69,NaN,0.03,0.00,0.68,0.68,0.63,0.20,0.20
123,Venezuela,VEN,NaN,0.47,0.47,0.88,0.65,0.38,0.16,0.86,...,NaN,NaN,NaN,0.00,NaN,0.69,0.70,0.56,0.26,0.28
124,Vietnam,VNM,0.02,0.49,0.41,NaN,0.69,NaN,NaN,NaN,...,NaN,NaN,NaN,0.15,0.04,0.56,0.40,0.65,0.06,0.47
125,Yemen,YEM,0.02,0.12,0.21,0.67,0.28,0.30,0.16,NaN,...,NaN,NaN,NaN,NaN,NaN,1.00,0.98,0.80,0.48,0.18
126,Zambia,ZMB,NaN,0.25,0.30,0.58,0.25,0.70,0.55,0.73,...,NaN,0.34,NaN,0.01,0.00,0.75,0.40,0.88,0.42,0.25
127,Zimbabwe,ZWE,NaN,0.19,0.22,0.60,0.25,0.57,0.26,0.75,...,1.00,0.60,NaN,0.03,0.00,0.90,0.79,0.88,0.18,0.24

In [37]:
norm_2017_df.columns

Index(['Country name', 'Code', 'GDP', 'Happiness Index', 'Log GDP',
       'Social support', 'Healthy life exp', 'Freedom', 'Generosity',
       'Pct corruption', 'Suicide', 'Depression & Anxiety', 'Substance Abuse',
       'Physician perpop', 'Average age', 'Sleep (min)', 'Gini index',
       'Pct Poverty', 'Pct spent ed', 'Literacy rate', 'Tourist arrivals',
       'Rev tourism', 'Fragile State index', 'Security index', 'Brain drain',
       'Unemployment rate', 'Blue Index'],
      dtype='object')