In [1]:
# Dependencies
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress

from numpy import nan
from numpy import isnan
from sklearn.impute import SimpleImputer

# World Happiness Report for the Year 2005-2019

Define Countries of Interest

In [9]:
# G20 (except E.U.) plus random guest countries
countries = ['Argentina','Australia','Bangladesh','Brazil','Canada','China','Denmark', 
                    'Finland', 'France',  'Germany', 'India', 'Indonesia', 'Iran', 'Italy', 
                    'Japan', 'Malaysia', 'Mexico', 'Philippines','Russia', 'Saudi Arabia', 'Singapore', 
                    'South Africa', 'South Korea', 'Turkey', 'United Kingdom', 'United States']
# Report coverage Y2005-2019 
years = ['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
         '2015', '2016', '2017', '2018', '2019']

### Independent Variable - Happiness Score per Country

In [10]:
# Load/Read World Happiness Data 
Happiness_2005_2019 = "Data sets/Raw Data/Happiness Score/Happiness_2005_2019.csv"
world_happiness = pd.read_csv(Happiness_2005_2019 )
world_happiness.set_index('Country name', inplace=True)

#### Sampling, Imputation, and Display Dataset without NaN Values

In [11]:
sampling_happiness = world_happiness[world_happiness.index.isin(countries)]

In [12]:
# Imputation of NaN or missing values through SimpleImputer from sklearn
values = sampling_happiness.values
imputer = SimpleImputer(missing_values=nan, strategy='mean')
transform_sampling_happiness = imputer.fit_transform(values)
# transform_sampling_happiness

In [13]:
happiness_score = np.array(transform_sampling_happiness)
transformed_happiness = pd.DataFrame(data=happiness_score, index=[countries], columns=[years])
transformed_happiness

,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Argentina,6.705385,6.310000,6.070000,5.96,6.42000,6.4400,6.78,6.4700,6.58,6.67,6.70,6.430,6.040,5.79,6.0900
Australia,7.340000,5.673571,7.290000,7.25,6.00087,7.4500,7.41,7.2000,7.36,7.29,7.31,7.250,7.260,7.18,7.2300
Bangladesh,6.705385,4.320000,4.610000,5.05,5.08000,4.8600,4.99,4.7200,4.66,4.64,4.63,4.560,4.310,4.50,5.1100
Brazil,6.640000,5.673571,6.320000,6.69,7.00000,6.8400,7.04,6.6600,7.14,6.98,6.55,6.370,6.330,6.19,6.4500
Canada,7.420000,5.673571,7.480000,7.49,7.49000,7.6500,7.43,7.4200,7.59,7.30,7.41,7.240,7.410,7.18,7.1100
China,6.705385,4.560000,4.860000,4.85,4.45000,4.6500,5.04,5.0900,5.24,5.20,5.30,5.320,5.100,5.13,5.1400
Denmark,8.020000,5.673571,7.830000,7.97,7.68000,7.7700,7.79,7.5200,7.59,7.51,7.51,7.560,7.590,7.65,7.6900
Finland,6.705385,7.670000,6.134167,7.67,6.00087,7.3900,7.35,7.4200,7.44,7.38,7.45,7.660,7.790,7.86,7.7800
France,7.090000,6.580000,6.134167,7.01,6.28000,6.8000,6.96,6.6500,6.67,6.47,6.36,6.480,6.640,6.67,6.6900
Germany,6.620000,5.673571,6.420000,6.52,6.64000,6.7200,6.62,6.7000,6.97,6.98,7.04,6.870,7.070,7.12,7.0400
India,6.705385,5.350000,5.030000,5.15,4.52000,4.9900,4.63,4.7200,4.43,4.42,4.34,4.180,4.050,3.82,3.2500
Indonesia,6.705385,4.950000,5.100000,4.82,5.47000,5.4600,5.17,5.3700,5.29,5.60,5.04,5.140,5.100,5.34,5.3500
Iran,5.310000,5.673571,5.340000,5.13,6.00087,6.2168,4.77,4.6100,5.14,4.68,4.75,4.650,4.720,4.28,5.0100
Italy,6.850000,5.673571,6.570000,6.78,6.33000,6.3500,6.06,5.8400,6.01,6.03,5.85,5.950,6.200,6.52,6.4500
Japan,6.520000,5.673571,6.240000,5.91,5.84000,6.0600,6.26,5.9700,5.96,5.92,5.88,5.950,5.910,5.79,5.9100
Malaysia,6.705385,6.010000,6.240000,5.81,5.38000,5.5800,5.79,5.9100,5.77,5.96,6.32,6.076,6.074,5.34,5.4300
Mexico,6.580000,5.673571,6.530000,6.83,6.96000,6.8000,6.91,7.3200,7.44,6.68,6.24,6.820,6.410,6.55,6.4300
Philippines,6.705385,4.670000,5.070000,4.59,4.88000,4.9400,4.99,5.0000,4.98,5.31,5.55,5.430,5.590,5.87,6.2700
Russia,6.705385,4.960000,5.220000,5.62,5.16000,5.3800,5.39,5.6200,5.54,6.04,6.00,5.850,5.580,5.51,6.1308
Saudi Arabia,7.080000,5.673571,7.270000,6.81,6.15000,6.3100,6.70,6.4000,6.50,6.28,6.35,6.470,6.290,6.36,6.5600
Singapore,6.705385,6.460000,6.830000,6.64,6.14000,6.5300,6.56,6.1184,6.53,7.06,6.62,6.030,6.380,6.37,6.3800
South Africa,6.705385,5.080000,5.200000,5.35,5.22000,4.6500,4.93,5.1300,3.66,4.83,4.89,4.770,4.510,4.88,5.0300
South Korea,6.705385,5.330000,5.770000,5.39,5.65000,6.1200,6.95,6.0000,5.96,5.80,5.78,5.970,5.870,5.84,5.9000
Turkey,4.720000,5.673571,5.620000,5.12,5.21000,5.4900,5.27,5.3100,4.89,5.58,5.51,5.330,5.610,5.19,4.8700
United Kingdom,6.980000,5.673571,6.800000,6.99,6.91000,7.0300,6.87,6.8800,6.92,6.76,6.52,6.820,7.100,7.23,7.1600
United States,6.705385,7.180000,7.510000,7.28,7.16000,7.1600,7.12,7.0300,7.25,7.15,6.86,6.800,6.990,6.88,6.9400

In [14]:
# Display Statistics Overview
transformed_happiness.describe()

,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
count,26.000000,26.000000,26.000000,26.000000,26.000000,26.00000,26.000000,26.0000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000
mean,6.705385,5.673571,6.134167,6.180000,6.000870,6.21680,6.222308,6.1184,6.135000,6.173846,6.106154,6.076000,6.074000,6.040000,6.130800
std,0.599224,0.745668,0.910534,1.004036,0.880872,0.94947,0.990391,0.9292,1.107112,0.935269,0.913039,0.946281,1.022182,1.051886,1.025967
min,4.720000,4.320000,4.610000,4.590000,4.450000,4.65000,4.630000,4.6100,3.660000,4.420000,4.340000,4.180000,4.050000,3.820000,3.250000
25%,6.705385,5.335000,5.250000,5.200000,5.260000,5.46750,5.195000,5.3250,5.252500,5.585000,5.520000,5.355000,5.582500,5.340000,5.370000
50%,6.705385,5.673571,6.187083,6.240000,6.000870,6.33000,6.590000,6.0592,6.255000,6.160000,6.280000,6.053000,6.137000,6.030000,6.325000
75%,6.813846,5.673571,6.742500,6.950000,6.585000,6.83000,6.957500,6.8350,7.097500,6.980000,6.680000,6.815000,6.902500,6.827500,6.877500
max,8.020000,7.670000,7.830000,7.970000,7.680000,7.77000,7.790000,7.5200,7.590000,7.510000,7.510000,7.660000,7.790000,7.860000,7.780000

# Dependent Variables
### Sampling, Imputation, and Display

### GDP per capita

In [18]:
# Load/Read GDP per capita Data
GDP_vivi = 'Data sets/From Vivi/HI_Log GDPpCap.csv'
GDP = pd.read_csv(GDP_vivi)
GDP.set_index('Country name', inplace=True)
# GDP.head()

In [20]:
sampling_GDP = GDP[GDP.index.isin(countries)]

In [22]:
# Imputation of NaN or missing values through SimpleImputer from sklearn
values = sampling_GDP.values
imputer = SimpleImputer(missing_values=nan, strategy='mean')
transform_GDP = imputer.fit_transform(values)
# Display dataframe after imputation
GDP_score = np.array(transform_GDP)
clean_GDP = pd.DataFrame(data=GDP_score, index=[countries], columns=[years])
# clean_GDP

### Social Support

In [48]:
# Load/Read Social Support Data
Social_Support_vivi = 'Data sets/From Vivi/HI_Social support.csv'
Social_Support = pd.read_csv(Social_Support_vivi)
Social_Support.set_index('Country name', inplace=True)
# Social_Support.head()

In [49]:
sampling_Social_Support = Social_Support[Social_Support.index.isin(countries)]
# sampling_Social_Support

In [50]:
# Imputation of NaN or missing values through SimpleImputer from sklearn
values = sampling_Social_Support.values
imputer = SimpleImputer(missing_values=nan, strategy='mean')
transform_Social_Support = imputer.fit_transform(values)
# Display dataframe after imputation
Social_Support_score = np.array(transform_Social_Support)
clean_Social_Support = pd.DataFrame(data=Social_Support_score, index=[countries], columns=[years])
# clean_Social_Support

### Freedom

In [58]:
# Load/Read Freedom Data
Freedom_vivi = 'Data sets/From Vivi/HI_freedom.csv'
Freedom = pd.read_csv(Freedom_vivi)
Freedom.set_index('Country name', inplace=True)
# Freedom.head()

In [59]:
sampling_Freedom = Freedom[Freedom.index.isin(countries)]
# sampling_Freedom

In [60]:
# Imputation of NaN or missing values through SimpleImputer from sklearn
values = sampling_Freedom.values
imputer = SimpleImputer(missing_values=nan, strategy='mean')
transform_Freedom = imputer.fit_transform(values)
# Display dataframe after imputation
Freedom_score = np.array(transform_Freedom)
clean_Freedom = pd.DataFrame(data=Freedom_score, index=[countries], columns=[years])
# clean_Freedom

### Health (Life Expectancy)

In [30]:
# Load/Read Health Life Expectancy Data
Health_life_expectancy_vivi = 'Data sets/From Vivi/HI_life expectancy.csv'
Health_life_expectancy = pd.read_csv(Health_life_expectancy_vivi)
Health_life_expectancy.set_index('Country name', inplace=True)
# Health_life_expectancy.head()

In [31]:
sampling_Health_life_expectancy = Health_life_expectancy[Health_life_expectancy.index.isin(countries)]

In [43]:
# Imputation of NaN or missing values through SimpleImputer from sklearn
values = sampling_Health_life_expectancy.values
imputer = SimpleImputer(missing_values=nan, strategy='mean')
transform_Health_life_expectancy = imputer.fit_transform(values)
# Display dataframe after imputation
Health_life_expectancy_score = np.array(transform_Health_life_expectancy)
clean_Health_life_expectancy = pd.DataFrame(data=Health_life_expectancy_score, index=[countries], columns=[years])
# clean_Health_life_expectancy

### Generosity

In [62]:
# Load/Read Generosity Data
Generosity_vivi = 'Data sets/From Vivi/HI_Generosity.csv'
Generosity = pd.read_csv(Generosity_vivi)
Generosity.set_index('Country name', inplace=True)
# Generosity.head()

In [63]:
sampling_Generosity = Generosity[Generosity.index.isin(countries)]
# sampling_Generosity

In [65]:
# Imputation of NaN or missing values through SimpleImputer from sklearn
values = sampling_Generosity.values
imputer = SimpleImputer(missing_values=nan, strategy='mean')
transform_Generosity = imputer.fit_transform(values)
# Display dataframe after imputation
Generosity_score = np.array(transform_Generosity)
clean_Generosity= pd.DataFrame(data=Generosity_score, index=[countries], columns=[years])
# clean_Generosity

### Trust (Perception of Corruption)

In [67]:
# Load/Read Generosity Data
Trust_vivi = 'Data sets/From Vivi/HI_corruption.csv'
Trust = pd.read_csv(Generosity_vivi)
Trust.set_index('Country name', inplace=True)
# Trust.head()

In [69]:
sampling_Trust = Trust[Trust.index.isin(countries)]
# sampling_Trust

In [72]:
# Imputation of NaN or missing values through SimpleImputer from sklearn
values = sampling_Trust.values
imputer = SimpleImputer(missing_values=nan, strategy='mean')
transform_Trust = imputer.fit_transform(values)
# Display dataframe after imputation
Trust_score = np.array(transform_Trust)
clean_Trust= pd.DataFrame(data=Trust_score, index=[countries], columns=[years])
# clean_Trust